<p-dialog [(visible)]="isOpened" [style]="{width: '450px'}" header="Item Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div [formGroup]="itemsForm">
            <div class="field" *ngFor="let field of dialogOptions.fields">
                <label for="{{field.name}}">{{field.name}}</label>
                <input type="text" pInputText id="{{field.name}}" formControlName="{{field.name}}"  autofocus />
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" [disabled]="!itemsForm.valid" icon="pi pi-check" class="p-button-text" (click)="saveItem()"></button>
    </ng-template>
</p-dialog>
