<p-dialog [(visible)]="isOpened" [style]="{width: '450px', minHeight: '500px'}" header="Item Details"  [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div [formGroup]="itemsForm">
            <div class="field" *ngFor="let field of dialogOptions.fields" [ngSwitch]="field.type">
                <label for="{{field.name}}">{{field.name}}</label>
                <span *ngSwitchCase="undefined"><input type="text" pInputText id="{{field.name}}" formControlName="{{field.name}}" /></span>
                <span *ngSwitchCase="'select-items'">
                    <p-dropdown [options]="field.itemsService.items" formControlName="{{field.name}}"  optionValue="{{field.optionValue||'id'}}" optionLabel="{{field.optionLabel||'id'}}" [showClear]="true"></p-dropdown>
                </span>

                
                
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" [disabled]="!itemsForm.valid" icon="pi pi-check" class="p-button-text" (click)="saveItem()"></button>
    </ng-template>
</p-dialog>
